<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1 class="title">Fase de grupos</h1>
        <div class="groups">
            <section class="group">
                <div class="header">
                    <div class="group-title">
                        <h3>Grupo:</h3>
                        <h2>A</h2>
                    </div>
                    <div class="teams">
                        <div class="country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>argentina</p>
                        </div>
                        <div class="country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>argentina</p>
                        </div>
                        <div class="country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>argentina</p>
                        </div>
                        <div class="country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>argentina</p>
                        </div>
                    </div>
                </div>
                <section class="matches">
                    <div class="match">
                        <div class="match-country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>Argentina</p>
                        </div>
                        <form action="">
                            <input type="number">
                            <input type="number">
                        </form>
                        <div class="match-country">
                            <p>Argentina</p>
                            <img src="/img/argentina.jpeg" alt="">
                        </div>
                    </div>
                </section>
            </section>
            <section class="group">
                <div class="header">
                    <div class="group-title">
                        <h3>Grupo:</h3>
                        <h2>A</h2>
                    </div>
                    <div class="teams">
                        <div class="country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>argentina</p>
                        </div>
                        <div class="country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>argentina</p>
                        </div>
                        <div class="country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>argentina</p>
                        </div>
                        <div class="country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>argentina</p>
                        </div>
                    </div>
                </div>
                <section class="matches">
                    <div class="match">
                        <div class="match-country">
                            <img src="/img/argentina.jpeg" alt="">
                            <p>Argentina</p>
                        </div>
                        <form action="">
                            <input type="number">
                            <input type="number">
                        </form>
                        <div class="match-country">
                            <p>Argentina</p>
                            <img src="/img/argentina.jpeg" alt="">
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>