
.header-principal {
    width: 100%;
    background-color: #530011;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logo{
    padding-left: 8px;
}

.container-logo img{
    width: 120px;
    height: 78px;
}

.menu-burguer{
    margin-right: 8px;
}
.menu-burguer i {
    color: #E1E2E1;
    font-size: 24px;
    width: 100%;
    height: 100%;
}

.container-menu {
    display: none;
}

.container-menu .access-nav {
    text-decoration: none;
    list-style: none;
}

.search{
    width: 200px;
    position: relative;
    max-width: none;
}

.search form{
    width: 100%;
}

.searchbox input{
    width: 100%;
    height: auto;
    margin: 1px 0px;
    outline: none;   
    padding-left: 5px;
    border-radius: 6.4px; 
}

.submit{
    color: black;
    position: absolute;
    bottom: 4px;
    top: 4px;
    right: 4px;
    outline: none;
    border: none;
    background-color: white;
}

.user {
    display: none;
}
.user i{
    color: white;
}

/* MEDIAQUERIES */
@media (min-width: 769px) {
    .header-principal {
        width: 100%;
    }
    .header-main {
        width: 110px;
    }

    .menu-burguer {
        display: none;
    }
    .container-menu {
        width: 80%;
        display: flex;
        align-items: center;
    }

    .container-menu .desktop-link{
        cursor: pointer;
        height: 80px;
        display: flex;
        align-items: center;
    }

    .container-menu .desktop-link a{
        text-decoration: none;
        width: 100%;
        height: 100%;
        letter-spacing: 0.08em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container-menu .desktop-link a p{
        color: white;
        font-size: 18px;
        font-weight: 700;
        padding: 7.5px 16px;
        text-align: center;
        margin: auto;
        margin-right: 5px;
    }

    .container-menu .desktop-link a .underline{
        padding: 2px;
    }

    .container-menu .desktop-link a:hover p{
        background-color: rgba(128,128,128,.3);
        border-radius: 6.4px;
    }

    .container-menu .desktop-link a:hover .underline{
        background-color: white;
        border-radius: 6.4px;
    }

    .access-nav {
        padding: 0px;
        margin: 0px;
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    .user {
        display: block;
        margin-right: 32px;
    }
}