main{
    padding: 8px;
}
.profile-container{
    display: flex;
    justify-content: flex-start;
}

.image-container{
    width: 25%;
}

.image-container img{
    width: 90%;
    border-radius: 100%;
    margin: auto;
}