/* HEADER */
/* guinda : #860037;
   oscuro : #530011;
   gris : #E1E2E1;
   gris claro : #F5F5F6;
    */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-principal {
    width: 100%;
    background-color: #530011;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-logo {
    width: 30%;
}
.container-logo img {
    width: 100%;
}
.menu-burguer {
    margin-right: 20px;
}
.menu-burguer i {
    color: #E1E2E1;
    font-size: 24px;
}
.container-menu {
    display: none;
}
.container-menu .access-nav {
    text-decoration: none;
    list-style: none;
}
.access-nav li a {
    color: #E1E2E1;
    text-decoration: none;
}
.user {
    display: none;
}
.user i{
    color: white;
}

/* MEDIAQUERIES */
@media (min-width: 769px) {
    .header-principal {
        width: 100%;
    }
    .header-main {
        width: 20%;
    }
    .container-logo {
        width: 100%;
    }
    .menu-burguer {
        display: none;
    }
    .container-menu {
        width: 60%;
        display: flex;
    }
    .access-nav {
        padding: 0px;
        margin: 0px;
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    .user {
        display: block;
        margin-right: 24px;
    }
}