/* HEADER */
/* PRUEBA */
/* guinda : #860037;
    gris : #E1E2E1;
    gris claro : #F5F5F6;
    */

:root {
    --color-principal: #530011;
    --color-secundario: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.access-nav li a {
    color: var(--color-secundario);
    text-decoration: none;
}




/* MEDIAQUERIES */
@media (min-width: 769px) {

    .access-nav {
        padding: 0px;
        margin: 0px;
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
}