/* HEADER */
/* PRUEBA */
/* guinda : #860037;
    gris : #E1E2E1;
    gris claro : #F5F5F6;
    */

:root {
    --color-principal: #530011;
    --color-secundario: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.access-nav li a {
    color: var(--color-secundario);
    text-decoration: none;
}


/* FOOTER */

.footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--color-principal);
    color: var(--color-secundario);
}
.container-about {
    text-transform: uppercase;
}
.container-about h3 {
    font-size: 16px;
    list-style: none;
}
.container-about a {
    text-decoration: none;
}
.container-about p {
    margin: 10px;
    font-size: 12px;
    color: var(--color-secundario);
}
.container-social-media {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}
.container-social-media div a i {
    font-size: 20px;
    padding: 10px;
    color: var(--color-secundario);
    border: 1px solid ;
    border-radius: 50%;
}

/* MEDIAQUERIES */
@media (min-width: 769px) {

    .access-nav {
        padding: 0px;
        margin: 0px;
        width: 80%;
        display: flex;
        justify-content: space-around;
    }


    /* FOOTER */
    .footer {
        display: flex;
        justify-content: space-between;
    }
    .footer section {
        width: 33%;
        align-self: center;
    }
    .redes {
        order: 1;
    }
    .container-social-media div:hover i {
        color: var(--color-principal);
        background-color: var(--color-secundario);
        transition-duration: 0.5s;
    }
}