<footer class="footer">
    <section class="container-about">
        <h3>acerca de prode</h3>
        <a href="#">
            <p>¿quienes somos?</p>
        </a>
        <a href="#">
            <p>ubicacion</p>
        </a>
        <a href="#">
            <p>contacto</p>
        </a>
    </section>
    <section class="redes">
        <div>
            <div class="container-social-media">
                <div>
                    <a href="#" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>
                <div>
                    <a href="#" target="_blank"><i
                            class="fa-brands fa-facebook"></i></a>
                </div>
                <div>
                    <a href="#" target="_blank"><i
                            class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="derechos">
        <p>Copyright &copy; PRODE OFICIAL</p>
    </section>
</footer>