<header class="header-principal">
    <div class="header-main">
        <section class="container-logo">
            <img src="/img/LOGO-QATAR.png" alt="">
        </section>
        <section class="menu-burguer navbar-toggler">
                <i class="fa-solid fa-bars navbar-toggler-icon"></i>
        </section>
    </div>
    <nav class="container-menu">
        <div class="desktop-link">
            <a href="">
                <p>Predicciones</p>
                <div class="underline"></div>
            </a>
        </div>
        <div class="desktop-link">
            <a href="">
                <p>Calendario</p>
                <div class="underline"></div>
            </a>
        </div>
        <div class="desktop-link">
            <a href="">
                <p>Tablas</p>
                <div class="underline"></div>
            </a>
        </div>
        <div class="desktop-link">
            <a href="">
                <p>Mas</p>
                <div class="underline"></div>
            </a>
        </div>
    </nav>
        <section>
            <% if (locals.isLogged) { %>
                <div class="user">
                    <a href="/user/profile">
                        <img src="/img/avatars/<%= locals.userLogged.avatar %>" width="20" height="20" style="border-radius: 100%;">
                    </a>
                </div>
            <% } else { %>
                <div class="user">
                    <a href="/user/login">
                        <i class="fa-solid fa-user"></i>
                    </a>
            <% } %>
        </section>
</header>