<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="profile-container">
            <div class="image-container">
                <img src="/img/avatars/<%= user.avatar %>" alt="">
            </div>
            <div>
                <h4><%= user.username %></h4>
                <a href="/user/logout">Logout</a>
            </div>
        </div>
    </main>
</body>
</html>